<div class="container">
    <h2 class="display-4 mb-4">Ça a fait réagir !</h2>

    <ul class="list-unstyled">
        {% for row in ranking %}
            <li class="media align-self-start border-dark mb-3">
                <div class="mr-3">
                    <p class="display-4"># {{ loop.index }}</p>
                </div>
                <div class="media-body">
                    <h5 class="mt-0">
                        <span class="badge badge-pill badge-primary">{{ row.name }}</span>
                        <small class="text-muted small">{{ row.datetime | date('d/m/Y h:i') }}</small>
                    </h5>
                    {{ row.content }}
                    <div>
                        <span class="badge badge-pill badge-dark">{{ row.nbReactions }} réactions</span>
                    </div>
                </div>
            </li>
            <hr class="text-muted">
        {% endfor %}
    </ul>
</div>
