<div class="container">
    <h2 class="mb-4">Ça a fait réagir !</h2>

    <ul class="list-unstyled">
        {% for row in ranking %}
            <li class="mb-3 bg-dark text-light p-2 rounded">
                <h5 class="mt-0">
                    <span class="badge badge-pill badge-primary"># {{ loop.index }} {{ row.name }}</span>
                    <small class="small">{{ row.datetime | date('d/m/Y h:i') }}</small>
                </h5>
                <p class="mb-0">
                    <em>{{ row.content }}</em>
                </p>

                <p class="mb-0 badge badge-pill badge-primary badge-sm">{{ row.nbReactions }} réactions</p>
            </li>
        {% endfor %}
    </ul>
</div>
