<div class="container">
    <h2 class="mb-3">Les beaux parleurs</h2>

    <table class="table table-striped" data-toggle="table">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th data-sortable="true">Messages</th>
            <th data-sortable="true">Réactions reçu</th>
            <th data-sortable="true">Ratio</th>
            <th data-sortable="true">Réactions envoyées</th>
        </tr>
        </thead>
        <tbody>
        {% for row in ranking %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.nb_message }}</td>
                <td>{{ row.nb_reaction }}</td>
                <td>{{ row.ratio | number_format(4, ',', ' ') }}</td>
                <td>{{ row.reactions_send }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
